@charset "UTF-8";
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em
,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,t
body,tfoot,thead,tr,th,td
{
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	lign: baseline;
	margin: 0;
	outline: 0;
	padding: 0;
}
body
{
	background: white;
	color: black;
	line-height: 1;
}
ol,ul
{
	list-style: none;
}
table
{
	border-collapse: separate;
	spacing: 0;
	vertical-align: middle;
}
caption,th,td
{
	font-weight: normal;
	text-align: left;
	vertical-align: middle;
}
q,blockquote
{
	quotes: "" "";
}
q:before,q:after,blockquote:before,blockquote:after
{
	content: "";
}
a
img
{
	border: none;
}
.fancy-button-reset-base-class,input[type=submit]
{
	background: url('/images/button_bg.png?1301401396') repeat-x bottom
left;
	border-style: solid;
	cursor: pointer;
	display: inline-block;
	font-family: "Lucida
Grande",Lucida,Arial,sans-serif;
	margin: 0;
	overflow: visible;
	text-decoration: none;
	weight: bold;
	width: auto;
}
.fancy-button-reset-base-class::-moz-focus-inner,input[type=submit]::-moz-focus-inner
{
	border: none;
	padding: 0;
}
.
fancy-button-reset-base-class:focus,input[type=submit]:focus
{
	outline: none;
}
article,aside,canvas,details,figcaption,figure,f
ooter,header,hgroup,menu,nav,section,summary
{
	border: 0;
	display: block;
	margin: 0;
	outline: 0;
	padding: 0;
}
.headings,h1
{
	font-family: "Yanone Kaffeesatz", sans;
}
html
{
	background: #d3dd8a;
	background-image: linear-gradient(left top, rgba(255,255,255,0.1)
25%,rgba(255,255,255,0) 25%,rgba(255,255,255,0) 50%,rgba(255,255,255,0.1) 50%,rgba(255,255,255,0.1)
75%,rgba(255,255,255,0) 75%,rgba(255,255,255,0));
	background-image: -moz-linear-gradient(left top, rgba(255,255,255,0.1)
25%,rgba(255,255,255,0) 25%,rgba(255,255,255,0) 50%,rgba(255,255,255,0.1) 50%,rgba(255,255,255,0.1)
75%,rgba(255,255,255,0) 75%,rgba(255,255,255,0));
	background-image: -webkit-gradient(linear, 0% 0%, 100% 100%,
color-stop(25%, rgba(255,255,255,0.1)), color-stop(25%, rgba(255,255,255,0)), color-stop(50%, rgba(255,255,255,0)),
color-stop(50%, rgba(255,255,255,0.1)), color-stop(75%, rgba(255,255,255,0.1)), color-stop(75%, rgba(255,255,255,0)),
color-stop(100%, rgba(255,255,255,0)));
	background-size: 80px 80px;
	moz-background-size: 80px 80px;
	o-background-size: 80px 80px;
	webkit-background-size: 80px
80px;
}
body
{
	background: #fff;
	background-clip: padding-box;
	border-radius: 6
px;
	box-sizing: border-box;
	color: #2d4159;
	font-family: "Helvetica Neue", Helvetica, Arial,
sans;
	khtml-background-clip: padding-box;
	khtml-border-radius: 6px;
	line-height: 1.25em;
	margin: 50px auto
30px;
	max-width: 1250px;
	min-height: 280px;
	min-width: 600px;
	moz-background-clip: padding;
	moz-box-sizing: border-box;
	ms-background-clip: padding
-box;
	ms-border-radius: 6px;
	ms-box-sizing: border-box;
	o-background-clip: padding-box;
	o-border-radius: 6px;
	padding: 20px;
	position: relative;
	r-radius: 6px;
	webkit-background-clip: padding;
	webkit-border-radius: 6px;
	webkit-box-sizing: border-box;
	width: 85%;
}
body:before
{
	background: #2b445c;
	background-clip: padding-box;
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.15) -2px 3px
3px;
	content: "
";
	height: 260px;
	khtml-background-clip: padding-box;
	khtml-border-radius: 6px;
	left: -4px;
	moz-background-clip: padding;
	moz-border-radius: 6px;
	moz-box-shadow: rg
ba(0, 0, 0, 0.15) -2px 3px 3px;
	moz-transform: rotate(-2deg);
	ms-background-clip: paddin
g-box;
	ms-border-radius: 6px;
	ms-transform: rotate(-2deg);
	o-background-clip: padding-box;
	o-border-radius: 6px;
	o-box-shadow: rgba(0, 0, 0, 0.15) -2px
3px 3px;
	o-transform: rotate(-2deg);
	position: absolute;
	right: 8px;
	top: 8px;
	transform: rotate(-2deg);
	webkit-background-clip: padding;
	webkit-box-shadow: rgba(0, 0, 0, 0.15) -2px 3px 3px;
	webkit-transform: rotate
(-2deg);
	z-index: -2;
}
body:after
{
	background: #000;
	border-radius: 6px;
	bottom: 0;
	bottom: 2px;
	box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px 1px;
	content: "
";
	dius: 6px;
	khtml-border-radius: 6px;
	left: 0;
	moz-border-radius: 6px;
	moz-box-shadow: rgba(
0, 0, 0, 0.3) 0 2px 5px 1px;
	ms-border-radius: 6px;
	o-box-shadow: rgba(0, 0, 0, 0.3) 0 2px
5px 1px;
	position: absolute;
	right: 0;
	top: 0;
	webkit-border-radius: 6px;
	webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px 1px;
	z-index: -1;
}
a
{
	color: #2d4159;
}
a:hover
{
	color: #233245;
}
p.flash
{
	background-clip: padding-box;
	background-image: linear-gradient(
rgba(0,0,0,0.4),rgba(0,0,0,0.6));
	background-image: -moz-linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6));
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%,
rgba(0,0,0,0.4)), color-stop(100%,
rgba(0,0,0,0.6)));
	border: 3px solid rgba(255, 255, 255,
0.5);
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-top: 0;
	bottom-right-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.5) 0 1px
3px;
	box-sizing: border-box;
	color: #fff;
	izing: border-box;
	khtml-background-clip: padding-box;
	khtml-border-bottom-left-radius: 6px;
	left: 0;
	margin: 0 auto;
	moz-background-clip: padding;
	moz-border-radius-bottomleft: 6px;
	moz-border-radius-bottomright: 6px;
	moz-box-shadow: rgba(0,
0, 0, 0.5) 0 1px 3px;
	moz-box-sizing: border-box;
	ms-background-clip: paddi
ng-box;
	ms-border-bottom-right-radius: 6px;
	o-background-clip: padding-box;
	o-border-bottom-left-radius: 6px;
	o-border-bottom-right-radius: 6px;
	o-box-shadow: rgba(0, 0, 0, 0.5) 0 1px
3px;
	padding: .4em
.8em;
	position: absolute;
	text-align: center;
	text-shadow: rgba(0, 0, 0, 0.6) 0
-1px;
	top: -51px;
	ttom-left-radius: 6px;
	webkit-background-clip: padding;
	webkit-border-bottom-left-radius: 6px;
	webkit-border-bottom-right-radius: 6px;
	webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 1px 3px;
	webkit-box-sizing: border-box;
	width: 100%;
}
p.flash:empty
{
	background: none;
	border-width: 0;
	box-shadow: none;
	height: 0px;
	o-box-shadow: none;
	overflow: hidden;
	padding: 0;
	shadow: none;
	webkit-box-shadow: none;
}
h1
{
	background-image: linear-gradient(#42678d,#223447);
	background-image: -moz-linear-gradient(#42678d,#223447);
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #42678d), color-stop(100%,
#223447));
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	box-shadow: rgba(255, 255, 255, 0.15) 0 1px
inset, white 0 1px;
	color: #fff;
	font-size: 2.5em;
	font-weight: normal;
	khtml-border-top-right-radius: 6px;
	line-height: 1em;
	margin: -20px -20px
15px;
	moz-border-radius-topleft: 6px;
	moz-border-radius-topright: 6px;
	ms-border-top-left-radius: 6px;
	ms-border-top-right-radius: 6px;
	o-border-top-left-radius: 6px;
	o-box-shadow: rgba(255, 255, 255, 0.15) 0 1px inset, white 0 1px;
	padding: 20px;
	padding-right: 180px;
	position: relative;
	radius: 6px;
	text-shadow: #192836
0 -2px;
	us: 6px;
	webkit-border-top-left-radius: 6px;
	webkit-border-top-right-radius: 6px;
	webkit-box-shadow: rgba(255, 255, 255, 0.15) 0 1px inset,
white 0 1px;
	x-shadow: rgba(255, 255, 255, 0.15) 0 1px inset, white 0 1px;
}
h1:after
{
	background-image: li
near-gradient(rgba(170,170,170,0.5),rgba(255,255,255,0));
	background-image: -moz-linear-gradient(rgba(170,170,170,0.5),rgba(255,255,255,0));
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(170,170,170,0.5)),
color-stop(100%,
rgba(255,255,255,0)));
	border-top: 1px
solid #e5e5e5;
	bottom: -16px;
	content: " ";
	height: 15px;
	left: 0;
	position: absolute;
	right: 0;
	z-index: 1;
}
h2,h3,h4
{
	color: #2d4159;
	font-size: 1.3em;
	line-height: 1.5e
m;
	margin: .2em 0 .5em;
}
.comment
{
	background: #f5f5f5;
	border-bottom: 1px
dashed #ddd;
	border-top: 1px solid #ddd;
	color: #6c7c9a;
	font-size: .9em;
	padding: 1em 0;
}
.comment p
{
	border-left: 5px solid rgba(45, 65, 89, 0.5);
	padding-left: 12px;
}
.comment
p:first-child
{
	border: 0;
	color: #2d4159;
	font-weight: bold;
	padding-bottom: 1em;
	padding-left: 0;
}
.comment +
.comment
{
	border-top: none;
}
.comment + h3,.comment + h4
{
	margin: 0 0 .5em;
}
.comment:nth-last-of-type(1)
{
	border-bottom: 1px solid
#ddd;
	margin-bottom: 2em;
}
h1,h2,h3,h4,h5,h6
{
	font-weight: bold;
	}
.home {
	margin-right: 200px;
}
.top-button,a.new_article,.article_actions a[href$='edit'],.article_actions
a[data-method='delete']
{
	adow: #fff 0 1px;
	background-image: linear-gradient(#ffffff,#cccccc);
	background-image: -moz-linear-gradient(#ffffff,#cccccc);
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff),
color-stop(100%,
#cccccc));
	border-radius: 1.2em;
	box-shadow: rgba(255, 255, 255, 0.4) 0 -1px
inset;
	color: #999999;
	display: inline-block;
	dius: 1.2em;
	font-size: .9em;
	moz-border-radius: 1.2em;
	moz-box-shadow: rgba(255, 255, 255, 0.4) 0 -1px inset;
	ms-border-radius: 1.2em;
	o-border-radius: 1.2em;
	o-box-shadow: rgba(255, 255, 255, 0.4) 0 -1px inset;
	padding: 4px
11px;
	position: absolute;
	right: 20px;
	text-decoration: none;
	top: 8px;
	webkit-border-radius: 1.2em;
	webkit-box-shadow: rgba(255, 255, 255, 0.4) 0
-1px inset;
}
.top-button:hover,a.new_article:hover,.article_actions
a[href$='edit']:hover,.article_actions
a[data-method='delete']:hover
{
	color: #555;
}
.top-button:active,a.new_article:active,.article_actions
a[href$='edit']:active,.article_actions a[data-method='delete']:active
{
	background-image: linear-gradient(#d9d9d9,#f5f5f5);
	background-image: -moz-linear-gradient(#d9d9d9,#f5f5f5);
	background-image: -webkit-gradient(linear, 50% 0%,
50% 100%, color-stop(0%, #d9d9d9), color-stop(100%,
#f5f5f5));
}
#sidebar + ul
{
	padding-right: 180px;
}
#sidebar + ul li
{
	padding-right: 30px;
}
#sidebar +
ul:after
{
	background: #e5e5e5;
	bottom: 0;
	content: " ";
	position: absolute;
	right: 180px;
	top: 0;
	width: 1px;
}
#articles
{
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-right: 1px solid #e2e2e2;
	bottomright: 6px;
	box-sizing: border-box;
	khtml-border-bottom-left-radius: 6px;
	khtml-border-bottom-right-radius: 6px;
	margin: -15px
-20px -20px;
	min-width: 550px;
	moz-border-radius-bottomleft: 6px;
	moz-box-sizing: border-box;
	ms-border-bottom-left-radius: 6px;
	ms-border-bottom-right-radius: 6p
x;
	ms-box-sizing: border-box;
	o-border-bottom-left-radius: 6p
x;
	o-border-bottom-right-radius: 6px;
	padding: 0 20px
0;
	position: relative;
	webkit-border-bottom-left-radius: 6px;
	webkit-border-bottom-right-radius: 6px;
	webkit-box-sizing: border-box;
}
#articles
li
{
	border-bottom: 1px dashed #e5e5e5;
	font-size: 1.2em;
	margin-right: 20px;
	padding: 1em 0 .8em;
	position: relative;
}
#articles
li:last-child
{
	border-bottom: 0;
	border-bottom-left-radius: 6px;
	khtml-border-bottom-left-radius: 6px;
	moz-border-radius-bottomleft: 6px;
	o-border-bottom-left-radius: 6px;
	webkit-border-bottom-left-radius: 6px;
}
#articles li > a:first-child
{
	color: #2d4159;
	display: block;
	font-weight: bold;
	padding-bottom: .1em;
}
#articles .actions
{
	border-left: 1px
dotted #ddd;
	line-height: 1em;
	margin-left: 3px;
	padding-left: 8px;
	position: relative;
	top: 2px;
}
#articles .actions
a
{
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=
20);
	ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	opacity: 0.2;
}
#articles .actions
a:hover
{
	filter: progid:DXImageTransform.Microsoft.Alpha(Op
acity=40);
	ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	opacity: 0.4;
}
#articles
.tag_list
{
	color: #999;
	display: inline-block;
	font-size: .8em;
	padding-top: .5em;
}
.article_actions
{
	border-bottom: 1px dashed
#ddd;
	font-size: .9em;
	margin-bottom: .7em;
	overflow: hidden;
	padding-bottom: .7em;
	text-align: right;
	zoom: 1;
}
.article_actions
a
{
	color: #999999;
	float: left;
}
.article_actions a:hover
img
{
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacit
y=60);
	ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	opacity: 0.6;
}
.article_actions
img
{
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacit
y=20);
	ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	opacity: 0.2;
	position: relative;
	top: 2px;
}
.article_actions a[href$='edit'],.article_actions
a[data-method='delete']
{
	float: none;
	margin-left: .5em;
	padding: 4px 12px 3px 8px;
	text-decoration: none;
}
.article_actions
a[data-method='delete']
{
	right: 90px;
}
p.tag_list
{
	border-top: 1px dashed #ddd;
	color: #999;
	font-size: .9em;
	margin: 1em
0;
	padding-top: .5em;
}
#sidebar
{
	float: right;
	font-weight: bold;
	margin: -15px -20px 0 0;
	padding: 15px
10px;
	position: relative;
	width: 150px;
	z-index: 1;
}
#sidebar ul
{
	font-weight: normal;
	margin: .5em 0;
}
#sidebar
ul a
{
	color: #6c7c9a;
}
.input,form input[type=text],form input[type=password],form
textarea
{
	background-color: #f5f5f5;
	border: 1px solid
#ccc;
	box-sizing: border-b
ox;
	color: #1f2d3e;
	font-size: 1.3em;
	khtml-border-radius: 4px;
	moz-border-radius: 4px;
	moz-box-sizing: border-box;
	ms-border-radius: 4px;
	ms-box-sizing: border-box;
	o-border-radius: 4px;
	padding: .3em .4em;
	rder-radius: 4px;
	webkit-border-radius: 4px;
	webkit-box-sizing: border-box;
	width: 100%;
}
.input:focus,form input[type=text]:focus,form
input[type=password]:focus,form textarea:focus
{
	background-color: #fff;
	border-color: #81b1df;
	box-shadow: rgba(129, 177, 223, 0.7) 0 0 5px 1px inset;
	moz-box-shadow: rgba(129, 177, 223, 0.7) 0 0 5px 1px
inset;
	o-box-shadow: rgba(129, 177, 223, 0.7) 0 0 5px 1px
inset;
	outline: 0;
	webkit-box-shadow: rgba(129, 177, 223, 0.7) 0 0 5px 1px inset;
}
form
input[type=text], form input[type=password]
{
	margin: 0;
}
form p
{
	margin-bottom: .6em;
	padding: 0;
}
form
label
{
	color: #6c7c9a;
	display: inline-block;
	font-size: .9em;
	font-weight: bold;
	line-height: 1.5em;
	orm: uppercase;
	padding-bottom: .2em;
}
form
textarea
{
	font-size: 1.1em;
	height: 12em;
}
input[type=submit]
{
	background-clip: padding-box;
	background-color: #134e89;
	background-image: linear-gradient(#81a2c3,#4b749e 10%,#2d4660 50%,#283f55
50%,#395878);
	background-image: -moz-linear-gradient(#81a2c3,#4b749e 10%,#2d4660 50%,#283f55
50%,#395878);
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%,
#81a2c3), color-stop(10%, #4b749e), color-stop(50%, #2d4660), color-stop(50%, #283f55), color-stop(100%,
#395878));
	border-color: #192836;
	border-radius: 6px;
	border-width: 1px;
	box-shadow: rgba(255, 255, 255, 0.306) 0 0 0.1em 1px
inset;
	font-size: 1.2em;
	font-size: 18px;
	khtml-background-clip: padding-box;
	khtml-border-radius: 6px;
	line-height: 1.2em;
	moz-background-clip: padding;
	moz-border-radius: 6px;
	moz-box-shadow: rgba(255, 255, 255, 0.306) 0 0 0.1em
1px inset;
	ms-background-clip: padd
ing-box;
	ms-border-radius: 6px;
	o-background-clip: padding-box;
	o-border-radius: 6px;
	o-box-shadow: rgba(255, 255, 255, 0.306) 0 0
0.1em 1px inset;
	padding: 0.3em
1em;
	text-shadow: #030e19 0px 1px 1px;
	webkit-background-clip: padding;
	webkit-border-radius: 6px;
	webkit-box-shadow: rgba(255, 255, 255, 0.306) 0 0 0.1em 1px inset;
}
input[type=submit],input[type=submi
t]:visited
{
	color: #fff;
}
input[type=submit]:hover,input[type=submit]:focus
{
	background-color: #11467c;
	background-image: linear-gradient(#769bbf,#466d94 10%,#283f55 50%,#23374b
50%,#34516d);
	background-image: -moz-linear-gradient(#769bbf,#466d94 10%,#283f55
50%,#23374b 50%,#34516d);
	background-image: -webkit-
gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #769bbf), color-stop(10%, #466d94), color-stop(50%, #283f55),
color-stop(50%, #23374b), color-stop(100%, #34516d));
	border-color: #15202c;
	text-shadow: #02070c 0px 1px
1px;
}
input[type=submit]:hover,input[type=submit]:hover:visited,input[type=submit]:focus,input[type=submit]:focus:visited
{
	lor: #fff;
}
input[type=submit]:active
{
	background-color: #0f3f6e;
	background-image: linear-gradient(#283f55,#2b445c 30%,#253a4e 50%,#203244
50%,#355371);
	background-image: -moz-linear-gradient(#283f55,#2b445c 30%,#253a4e 50%,#203244
50%,#355371);
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%,
color-stop(0%, #283f55), color-stop(30%, #2b445c), color-stop(50%, #253a4e), color-stop(50%, #203244), color-stop(100%,
#355371));
	border-color: #101821;
	box-shadow: #192836 0 0.08em 0.2em 1px inset;
	moz-box-shadow: #192836 0 0.08em 0.2em 1px
inset;
	o-box-shadow: #192836 0 0.08em 0.2em 1px
inset;
	text-shadow: #000 0px -1px -1px;
	webkit-box-shadow: #192836 0 0.08em 0.2em 1px inset;
}
input[type=submit]:active,input[type=submit]:active:visited
{
	color: #fff;
}
div.field_with_errors label
{
	color: red;
	font-weight: bold;
}
div.field_with_errors input
{
	border: 3px solid red;
}